html, body {
  height: 100%;
  color: #fff;
}

body {
  background-attachment: fixed;
  background-size:cover;
  position: relative;
  transition: background 500ms linear;
}

a {
  text-decoration:none;
  color:#fff;
}

a:hover {
  text-decoration: none;
  color:#d47cee;
}

.contacts {
  margin-top:2%;
}

.contacts img {
  opacity: .9;
}

.icon {
  max-width: 70px;
}

.nav-link {
  text-align:right;
  font-family: Gruppo;
  color:#fff;
  font-size: 23px;
  padding: 2rem !important;
}

.nav-link:hover {
  color: #d47cee;
}

.navbar {
}

.content1 {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 70%;
  background-image: url('../img/about.jpg');
  background-size: cover;
  background-position: center;
  overflow: scroll;
}

.content2 {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 70%;
  background-image: url('../img/showroom.jpg');
  background-size: cover;
  background-position: center ;
  overflow: scroll;
}

.content3 {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 70%;
  background-image: url('../img/contact.jpg');
  background-size: cover;
  background-position: center;
  overflow: scroll;
}



.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(212,124,238, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.title {
  padding: 20px;
  max-width: 95%;
  margin-bottom: 2%;
}

p {
  font-family: Gruppo, sans-serif;
  text-shadow: 1px 1px 1px #000;
  font-size: 26px;
  padding: 0 10%;
  line-height: 2;
}

.purple {
  color: #d47cee;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 450px) {
  .fullscreen-bg {
    background: url(../img/mobil.jpg) center center no-repeat #000;
    background-size: auto;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

@media (max-width: 500px) {
  p {
    font-size: 20px;
    line-height: 1.6;
  }
  .icon {
    max-width: 45px;
  }
  .contacts {
    margin-top: 2%;
  }
  .contacts img {
    margin-top: 8%;
  }
}

@media (max-width: 991px) {
  .content1, .content2, .content3 {
    top:55%;
  }
  #navbarResponsive .nav-item {
    margin: -20px;
    line-height:0;
  }
}
