html, body {
  height: 100%;
}

body {
  background-attachment: fixed;
  background-size:cover;
  position: relative;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

.nav-link {
  text-align:right;
  font-family: Gruppo;
  font-size: 23px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 70%;
  background-image: url('../img/divBG.jpg');
  background-size: cover;
  opacity:.9;
  overflow: scroll;
}

.title {
  padding: 10px;
}

p {
  font-family: Gruppo, sans-serif;
  font-size: 20px;
  padding: 0 15%;
  line-height: 3;
}

nav .navbar .open {
  margin-bottom: 400px;
}
