html, body {
  height: 100%;
  color: #fff;
}

body {
  background-attachment: fixed;
  background-size:cover;
  position: relative;
  transition: background 500ms linear;
}

a {
  text-decoration:none;
  color:#fff;
}

a:hover {
  text-decoration: none;
  color:#d47cee;
}

.contacts {
  margin-top:2%;
}

.contacts img {
  opacity: .9;
}

.icon {
  max-width: 70px;
}

.nav-link {
  text-align:right;
  font-family: Gruppo;
  color:#fff;
  font-size: 23px;
  padding: 2rem !important;
}

.nav-link:hover {
  color: #d47cee;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 70%;
  background-image: url('../img/divBG.png');
  background-size: cover;
  overflow: scroll;
}

.title {
  padding: 20px;
  max-width: 95%;
  margin-bottom: 2%;
}

p {
  font-family: Gruppo, sans-serif;
  text-shadow: 1px 1px 1px #000;
  font-size: 26px;
  padding: 0 10%;
  line-height: 2;
}

.purple {
  color: #d47cee;
}

nav .navbar .open {
  margin-bottom: 400px;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: #000;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

@media (max-width: 500px) {
  p {
    font-size: 20px;
    line-height: 1.6;
  }
  .icon {
    max-width: 45px;
  }
  .contacts {
    margin-top: 2%;
  }
  .contacts img {
    margin-top: 8%;
  }
}
